In [2]:
import pandas as pd
import numpy as np
import pickle
from sklearn.decomposition import NMF


movies = pd.read_csv('movies.csv', header=0)
ratings = pd.read_csv('ratings.csv', header=0)
tags = pd.read_csv('tags.csv', header=0)
links = pd.read_csv('links.csv', header=0)

ratings = ratings[['userId', 'movieId', 'rating']]
tags = tags[['userId', 'movieId', 'tag']]
links = links[['movieId', 'imdbId']]


data_dfs = [movies, tags, links, ratings]
DF = pd.concat(data_dfs, join='outer', sort=True)

def df_to_matrix(df):
    pre_data = DF[['movieId', 'userId', 'rating']]
    data = pre_data.pivot_table(index='userId', columns='movieId', values='rating')
    data.fillna(3.0, inplace=True)
    return data, pre_data

R, PRE = df_to_matrix(DF)

In [3]:
R.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1.0,4.0,3.0,4.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
5.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [48]:
from models import R, nmf, DF

In [8]:
 user = {4: '4.0', 9: '2.5', 103: '5.0', 46: '4.5'}

In [51]:
DF.set_index('movieId').head()

,genres,imdbId,rating,tag,title,userId
movieId,,,,,,
1,Adventure|Animation|Children|Comedy|Fantasy,NaN,NaN,NaN,Toy Story (1995),NaN
2,Adventure|Children|Fantasy,NaN,NaN,NaN,Jumanji (1995),NaN
3,Comedy|Romance,NaN,NaN,NaN,Grumpier Old Men (1995),NaN
4,Comedy|Drama|Romance,NaN,NaN,NaN,Waiting to Exhale (1995),NaN
5,Comedy,NaN,NaN,NaN,Father of the Bride Part II (1995),NaN

In [60]:
def recommend(dic):
    
    movie_Ids = sorted(list(R.columns))
    empty_list = [np.nan]*len(movie_Ids)
    ratings_dict = dict(zip(movie_Ids, empty_list))
    
    for key, value in dic.items():
        ratings_dict[key] = value
    
    
    reshape_user_dict = list(ratings_dict.values())
    profile = pd.DataFrame(reshape_user_dict, index = movie_Ids)
    profile = profile.transpose()
    profile_filled = profile.fillna(3.0) #?
    hidden_profile = nmf.transform(profile_filled)
    

    prediction = np.dot(hidden_profile, nmf.components_)
    coeff_profile = pd.DataFrame(prediction, columns = R.columns)
    
    movies_not_watched = coeff_profile.transpose()[0][np.isnan(profile_floats[0])]
    
    step = pd.DataFrame(movies_not_watched)
    list_movieIds = list(step[0].sort_values(ascending=False).index[:5])
    recommendation = [DF['title'].values[each] for each in list_movieIds]

    return recommendation

In [61]:
r = recommend(user)

In [62]:
r

['I Love Trouble (1994)',
 'Age of Innocence, The (1993)',
 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)',
 'Barb Wire (1996)',
 'Babe (1995)']